html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 120px;
}


hr {
	width: 350px;
	border-top: 3px solid #999;
}

section {
	min-height: 500px;
}

.foto {
	background-color: rgb(235, 229, 229);
	min-height: 550px;
}


.foto .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: .3s;
}

.foto .thumbnail.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.h2 {
	color: #139bf5;
	font-family: "Lato Regular";
	font-size: 38px;

}

.card-body {
	color: #139bf5;
	font-family: "Lato Regular";
	text-align: center;

}

.col-md-7 p {
	color: #707070;
	font-size: 20px;
	font-family: "Roboto";
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #c8c8c8;
	padding-top: 25px;
	font-family: 'Roboto';
	font-size: #000000;
}