html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron img {
	width: 200px;
	border: 5px solid #666;
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}

.foto {
	background-color: #eee;
}

.foto .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: .3s;
}

.foto .thumbnail.muncul {
	opacity: 1;
	transform: translate(0, 0);
}


.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #333;
	padding-top: 25px;
}

footer p {
	color: rgb(250, 248, 248);
	font-size: 0.9em;
}

footer p i {
	color: salmon;
}